<div class="agent-profile">
    <div class="agent-profile-container">
        <div class="agent-profile-inner-container clearfix">
            <div class="profile-top-container">
                <div class="profile-top-inner-container clearfix">
                    <div class="left-profile">
                        <div class="brand">
                            GZ brokers
                        </div>
                        <div class="name">
                            {{ name }}
                        </div>
                    </div>
                    <div class="right-profile">
                        <div class="social-networks-container">
                            <div class="social-network">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </div>
                            <div class="social-network">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </div>
                            <div class="social-network">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="social-network">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </div>
                            <div class="social-network">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile-bottom-container clearfix">
                <div class="image-profile-container">
                    <div class="image-profile-inner-container">
                        <img ng-src="{{ avatar }}" alt="">
                    </div>
                </div>
                <div class="left-profile clearfix">
                    <a class="contact-agent-button" href="">contact agent</a>
                    <div class="data-container">
                        <div class="email">{{ email }}</div>
                        <div class="phone-number">(912) 373-9377</div>
                    </div>
                </div>
                <div class="right-profile">
                    <div class="save-button action-button">
                        <i class="fa fa-heart"></i>
                        <span>Save</span>
                    </div>

                    <div class="share-button action-button">
                        <i class="fa fa-share-alt"></i>
                        <span>Share</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>