<div style="
    background-image: url('/images/background3.jpg');
    background-size: cover;
    height:100%;
    width:100%;
    position:fixed;
    z-index: -1000; top:0px;">
    <div style="height: 100%; width:100%; background-color: rgba(255,255,255,0.9);">
        
    </div>
</div>
<div class="homepage" style="background-color:transparent;">
    <div class="first-title">Let's get you the place you want!</div>

    <div class="destination-bedrooms-price-container">
       <div class="ui grid">
         <div class="three column row">
             <div class="column">
                 <div class="ui floating dropdown labeled fluid search icon button">
                   <i class="marker icon"></i>
                   <span class="text">Select a Neighborhood</span>
                   <div class="menu">
                     <div class="item" ng-click="getLocation(n)" ng-repeat="n in neighborhoods">{{ n }}</div>
                   </div>
                 </div>
             </div>


             <div class="column">
                 <div class="ui large buttons rooms">
                    <button data-value="0" class="ui button">Studio</button>
                    <button data-value="1" class="ui button">1</button>
                    <button data-value="2" class="ui button">2</button>
                    <button data-value="3" class="ui button">3</button>
                    <button data-value="4" class="ui button">4</button>
                    <button data-value="5" class="ui button">5+</button>
                 </div>
             </div>


             <div class="column">
                 <div class="input-box" ng-class="{ invalid: min > max || max < min }">
                    <div class="ui grid">
                        <div class="two wide column">
                            <i class="dollar icon"></i>
                        </div>
                        <div class="seven wide column">
                            <div style="width:100%; height: 35px;">
                                <input id="min" ng-model="min" class="min budget" type="number" placeholder="min">
                            </div>
                        </div>
                        <div class="seven wide column">
                            <div style="width:100%; height: 35px;">
                                <input id="max" ng-model="max" class="budget" type="number" placeholder="max">
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
           </div>
       </div>
    </div>







    <div class="divider first-divider">
        <img ng-src="/images/homepage/divider.png" alt="divider">
    </div>

    <div class="long-progress-bar-container clearfix">
       <div class="ui blue progress" id="progress">
         <div class="bar">
             <div class="progress number"></div>
         </div>
       </div>
    </div>

   

    <div class="divider second-divider">
        <img ng-src="/images/homepage/divider.png" alt="divider">
    </div>

    <div class="wishes-container clearfix">

        <div class="second-title">
            <div class="text">
                Now, tell us <span>three</span> things that are really important to you...
            </div>
        </div>  


        <div style="max-width: 950px; min-height: 20px; margin:0 auto;">
                <div wish-home-component class="wish-container wish-one-container col-xs-4 clearfix">

                    <div class="wish-inner-container">

                        <div class="wish-image-container">
                            <div ng-if="false" class="wish-number">
                                
                                    <span>1</span>
                                
                            </div>
                            <div ng-if="false" class="wish-image">

                            </div>
                            <div class="no-wish-image">
                               
                                    <span style="font-size:70px; color:white; font-family: 'Roboto';">1</span>
                                
                            </div>
                        </div>

                        <div class="wish-label">
                            I gotta have...
                        </div>

                      <input type="text" style="background-color:transparent;" id="wish1" class="button_popup" data-wish-id="1">   
                      <div class="ui flowing popup top left transition hidden">
                            <wishes></wishes>
                      </div>
                    </div>
                </div>

                <div wish-home-component class="wish-container wish-two-container col-xs-4 clearfix">

                    <div class="wish-inner-container">

                        <div class="wish-image-container">
                            <div ng-if="false" class="wish-number">
                                
                                    <span>2</span>
                                
                            </div>
                            <div ng-if="false" class="wish-image">

                            </div>
                            <div class="no-wish-image">
                                
                                    <span style="font-size:70px; color:white; font-family: 'Roboto';">2</span>
                                
                            </div>
                        </div>

                        <div class="wish-label">
                            I would love to have...
                        </div>

                        <!-- Wish here -->
                        <input style="background-color:transparent;"  type="text" id="wish2" class="button_popup" data-wish-id="2" data-position="top center">   
                        <div class="ui flowing popup top center transition hidden">
                            <wishes></wishes>
                        </div>

                    </div>
                </div>

                <div wish-home-component class="wish-container wish-three-container col-xs-4 clearfix">

                    <div class="wish-inner-container">

                        <div class="wish-image-container">
                            <div ng-if="false" class="wish-number">
                                
                                    <span>3</span>
                                
                            </div>
                            <div ng-if="false" class="wish-image">

                            </div>
                            <div class="no-wish-image">
                                
                                    <span style="font-size:70px; color:white; font-family: 'Roboto';">3</span>
                                
                            </div>
                        </div>

                        <div class="wish-label">
                            I would really love to have...
                        </div>
                        <!-- Wish here -->
                        <input type="text" style="background-color:transparent;" id="wish3" class="button_popup" data-wish-id="3" data-position="top right">   
                        <div class="ui flowing popup top left transition hidden">
                          <wishes></wishes>
                        </div>
                    </div>
                </div>
        </div>
    </div>

        

    <div class="how-it-works-container">

        <div class="triangle"></div>

        <div class="how-it-works-inner-container">
            <div class="how-it-works-title">How it works</div>

            <div class="step step-one col-xs-4">
                <div class="image">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <div class="text">
                    Enter basic info
                </div>
            </div>

            <div class="step step-two col-xs-4">
                <div class="image">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                </div>
                <div class="text">
                    Select 3 aditional features
                </div>
            </div>

            <div class="step step-three col-xs-4">
                <div class="image">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                </div>
                <div class="text">
                    Get awsome results, BOOM!!!
                </div>
            </div>

            <a class="learn-more">
                <div class="text">
                    Learn more
                </div>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>