<div class="property clearfix">

    <div class="property-sticky-navbar-ocontainer">
        <div class="property-sticky-navbar-icontainer">
            <div class="col-xs-8">
                <!-- property-sticky-navbar -->
                <div property-sticky-navbar class="property-sticky-navbar"></div>
            </div>
        </div>
    </div>

    <div class="property-main-owrap col-xs-8">
        <div class="property-main-iwrap">
            <div class="property-pricing-hot-features sticky-section">
                <!-- property-pricing -->
                <div property-pricing class="pricing"></div>

                <!-- property-hot-features -->
                <div property-hot-features class="hot-features"></div>
            </div>

            <!-- property-gallery -->
            <div property-gallery class="gallery sticky-section clearfix"></div>

            <div class="property-details-amenities-description clearfix">
                <!-- property-details -->
                <div property-details class="details sticky-section col-xs-6"></div>

                <!-- property-amenities -->
                <div property-amenities class="amenities col-xs-6"></div>

                <!-- property-description -->
                <div property-description class="description sticky-section col-xs-12"></div>
            </div>

            <!-- property-map -->
            <div property-map class="property-map sticky-section"></div>
        </div>
    </div>

    <div class="property-right-bar col-xs-4">
        <div property-contact-square class="property-contact-square"></div>
        <div class="ads"></div>
    </div>
</div>

<footer class="property-footer">
    <h1>Footer</h1>
</footer>