<div class="details-owrap">
    <div class="details-iwrap">
        <div class="title">Details</div>
        <table>
            <tbody>
                <tr>
                    <td>Bedrooms</td>
                    <td>3</td>
                </tr>

                <tr>
                    <td>Bathrooms</td>
                    <td>1.5</td>
                </tr>

                <tr>
                    <td>Listed for</td>
                    <td>13 Days</td>
                </tr>

                <tr>
                    <td>Last updated</td>
                    <td>11 Days</td>
                </tr>

                <tr>
                    <td>Available</td>
                    <td>Jun. 01, 2016</td>
                </tr>

                <tr>
                    <td>Building</td>
                    <td>Walk-Up</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
