<div class="sticky-owrap">
    <div class="sticky-iwrap clearfix">
        <ul class="sticky-bar clearfix" an-nav nav-offset="96">
            <li class="sticky-bar-item">
                <i class="fa fa-heart"></i>
                <span>Save</span>
            </li>
            <li class="sticky-bar-item">
                <i class="fa fa-share-alt"></i>
                <span>Share</span>
            </li>
            <li class="sticky-bar-item nav-menu uppercase" data-sticky-menu="0">
                <span>Hightlights</span>
            </li>
            <li class="sticky-bar-item nav-menu uppercase" data-sticky-menu="1">
                <span>Gallery</span>
            </li>
            <li class="sticky-bar-item nav-menu uppercase" data-sticky-menu="2">
                <span>Details</span>
            </li>
            <li class="sticky-bar-item nav-menu uppercase" data-sticky-menu="3">
                <span>Description</span>
            </li>
            <li class="sticky-bar-item nav-menu uppercase" data-sticky-menu="4">
                <span>Map</span>
            </li>
        </ul>
    </div>
</div>