<div class="contact-square" set-width-as=".property-right-bar">
    <img src="/app/images/property/person.jpg" alt="">
    <div class="person-info clearfix">
        <div class="name">Itay Gamleili</div>
        <div class="broker">GZ Brokers</div>
        <div class="listing">18 Active Listings</div>
        <div class="email">itayg@gzbrokers.com</div>
        <div class="phone">(917) 373-9488</div>
    </div>

    <div class="contact-agent-button" ng-click="openPropertyContactModal()">
        Contact Agent
    </div>

    <div class="view-profile-agent-button">
        View Agent Profile
    </div>
</div>