<div class="amenities-owrap">
    <div class="amenities-iwrap">
        <div class="title">Amenities</div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <li>Dishwasher</li>
                    </td>
                    <td>
                        <li>Gym</li>
                    </td>
                </tr>

                <tr>
                    <td>
                        <li>Laundry Room</li>
                    </td>
                    <td>
                        <li>On-site super</li>
                    </td>
                </tr>

                <tr>
                    <td>
                        <li>Outdoor Space</li>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>