<div class="pricing-owrap clearfix">
    <div class="pricing-iwrap clearfix">
        <div class="property-header-item col-xs-12 col-sm-12 col-md-3">
            <span>$ 12,500/mo</span>
        </div>

        <div class="property-header-item col-xs-12 col-sm-12 col-md-2">
            <span>3 BR</span>
        </div>

        <div class="property-header-item col-xs-12 col-sm-12 col-md-2">
            <span>1.5 BA</span>
        </div>

        <div class="property-header-item col-xs-12 col-sm-12 col-md-5">
            York Avenue - Upper East Side
        </div>
    </div>
</div>