<div class="hot-features-owrap clearfix">
    <div class="hot-features-iwrap clearfix">
        <div class="hf-title">
            <span>Hot features</span>
        </div>

        <div class="hf-item col-xs-12 col-sm-12 col-md-4">
            <i class="fa fa-bell"></i>

            <div class="title">
                Chef's Kitchen
            </div>
        </div>

        <div class="hf-item col-xs-12 col-sm-12 col-md-4">
            <i class="fa fa-bell"></i>

            <div class="title">
                Chef's Kitchen
            </div>
        </div>

        <div class="hf-item col-xs-12 col-sm-12 col-md-4">
            <i class="fa fa-bell"></i>

            <div class="title">
                Chef's Kitchen
            </div>
        </div>
    </div>
</div>