
/* line 1, ../sass/pages/_home.scss */
.homepage {
  margin-top: 40px;
}
/* line 4, ../sass/pages/_home.scss */
.homepage .first-title {
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  color: $box-text;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

/* line 11, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
/* line 22, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .destination-container .an-select > .owrap .iwrap .oc-custom-select-wrap .an-select-normal-dropdown-style .oc-select-dropdown {
  top: 43px;
}
/* line 33, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .bedrooms-container .bedroom-inner-container {
  border: 1px solid;
  border-radius: 2px;
}
/* line 37, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .bedrooms-container .bedroom-inner-container .item {
  width: 14.28%;
}
/* line 40, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .bedrooms-container .bedroom-inner-container .item.studio {
  width: 28.57%;
}
/* line 48, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container  .budget {
  width: 100%; 
  height: 100%; 
  border: 0px none transparent; 
  background-color: transparent;
  outline: none;
  padding-left: 0px;
  padding-right: 0px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* line 53, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget.error {
  border-color: red;
}
/* line 56, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget.error .budget-min {
  border-color: red;
}
/* line 60, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget.error .pre-image {
  color: red;
}
/* line 65, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget .pre-image {
  float: left;
  font-size: 20px;
  width: 20px;
  margin-right: 8px;
}
/* line 72, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget input {
  border-bottom: none;
}
/* line 76, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget .budget-min {
  margin: 0px;
  width: calc(50% - 14px);
  padding-right: 2%;
  border-right: 1px solid #000;
  padding-left: 20px;
}
/* line 84, ../sass/pages/_home.scss */
.homepage .destination-bedrooms-price-container .price-container .budget .budget-max {
  margin: 0px;
  width: calc(50% - 14px);
  padding-left: 20px;
}
/* line 93, ../sass/pages/_home.scss */
.homepage .divider {
  text-align: center;
}
/* line 96, ../sass/pages/_home.scss */
.homepage .divider.first-divider {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 106, ../sass/pages/_home.scss */
.homepage .divider img {
  width: 100%;
  max-width: 364px;
}
/* line 112, ../sass/pages/_home.scss */
.homepage .long-progress-bar-container {
  max-width: 800px;
  margin: 0 auto;
}
/* line 116, ../sass/pages/_home.scss */
.homepage .long-progress-bar-container .long-progress-bar-inner-container {
  margin: 20px 0px 3px;
}
/* line 121, ../sass/pages/_home.scss */
.homepage .wishes-container {
  max-width: 1250px;
  margin: 0 auto;
}
/* line 125, ../sass/pages/_home.scss */
.homepage .wishes-container .second-title {
  text-align: center;
  margin-bottom: 30px;
}
/* line 129, ../sass/pages/_home.scss */
.text, .wish-label {
  font-family: 'Lato', sans-serif;
}

.progress.number {
  background-color: transparent !important; 
  font-size: 13px !important;
}

.homepage .wishes-container .second-title .text {
  position: relative;
  font-size: 33px;
  display: inline-block;
  line-height: 50px;
  color: $box-text;
  font-weight: bold;

}
/* line 136, ../sass/pages/_home.scss */
.homepage .wishes-container .second-title .text span {
  font-style: italic;
  color: $blue;
  font-family: 'Lato', sans-serif;
}
/* line 141, ../sass/pages/_home.scss */
.homepage .wishes-container .second-title .text .title-tooltip {
  cursor: pointer;
  font-size: 20px;
  line-height: 19px;
  position: absolute;
  right: 0px;
  top: 0px;
}
/* line 152, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container {
  text-align: center;
  margin-bottom: 41px;
}
/* line 156, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container {
  display: inline-block;
}
/* line 159, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container {
  width: 150px;
  margin: 0 auto;
  height: 150px;
  border-radius: 50%;
  background-color: #8dd2ff;
  display: table;
  position: relative;
}
/* line 168, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container .wish-number {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  position: absolute;
  display: table;
  right: 2px;
  top: 13px;
}
/* line 179, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container .wish-number i {
  position: relative;
  font-size: 22px;
  color: red;
  display: table-cell;
  vertical-align: middle;
}
/* line 186, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container .wish-number i span {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  top: 8px;
  left: 11px;
}
/* line 197, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container .no-wish-image {
  display: table-cell;
  vertical-align: middle;
}
/* line 201, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container .no-wish-image i {
  position: relative;
  font-size: 70px;
  color: #696969;
}
/* line 206, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-image-container .no-wish-image i span {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  top: 18px;
  left: 27px;
}
/* line 218, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .wish-label {
  margin: 12px 0px 7px;
  color: $box-text;
}
/* line 227, ../sass/pages/_home.scss */
.homepage .wishes-container .wish-container .wish-inner-container .an-select > .owrap .iwrap .oc-custom-select-wrap .an-select-normal-dropdown-style .oc-select-dropdown {
  top: 42px;
}
/* line 240, ../sass/pages/_home.scss */
.homepage .how-it-works-container {
  background-color: $blue;
  padding: 30px 0px;
  text-align: center;
  position: relative;
  color: #fff;
}
/* line 247, ../sass/pages/_home.scss */
.homepage .how-it-works-container .triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  border-style: solid;
  border-width: 40px 75px 0 75px;
  border-color: #ffffff transparent transparent transparent;
}
/* line 263, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container {
  max-width: 800px;
  margin: 0 auto;
}
/* line 267, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .how-it-works-title {
  font-size: 22px;
  margin-top: 40px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
/* line 273, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .step {
  font-size: 16px;
  margin-top: 40px;
  text-transform: capitalize;
}
/* line 278, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .step .image {
  margin-bottom: 22px;
}
/* line 281, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .step .image i {
  font-size: 50px;
}
/* line 287, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .learn-more {
  color: #dfdfdf;
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
}
/* line 293, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .learn-more:hover {
  color: #dfdfdf;
}
/* line 297, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .learn-more .text {
  display: inline-block;
  text-decoration: underline;
  text-transform: capitalize;
}
/* line 303, ../sass/pages/_home.scss */
.homepage .how-it-works-container .how-it-works-inner-container .learn-more i {
  font-size: 18px;
}