$blue: #1a8dd8;
$border-color: #dbdbdb;
$box-grey: #e9ebee;
$box-text: #535d6c;
$error: #ff9a9a;
$box-shadow-color: #e1e1e1;
$red: #ff5b4d;
$green: #d7ecf3;
$settling-grey: #f7f7f7;

/* -------------------------
  Search Result Item
-------------------------- */
.col-md-9.results {
  margin-top: 10px !important;
}

#spinner {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color:white; 
  z-index:100; 
  overflow: hidden;
}

#spinner img {
  position:absolute; 
  top: 40%; 
  left:40%; 
  height: 200px; 
  width:auto;
}

.amenities-filter-button {
  height: 22px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px none transparent;
  background-color: transparent;
  outline: none;
}

.amenities-filter-button:hover {
  background-color: $box-grey;
}

.amenities-filter-button.selected {
  background-color: $blue;
  color: white;
  outline: none;
}



.wish-list {
  height: 210px; 
  width:500px;  
  position: fixed; 
  left:50px;  
  z-index: 50;
  display: none;
  background-color:white;
  border: 1px solid $border-color;
  border-radius: 5px;
  box-shadow: 1px 1px 15px 0px $box-shadow-color;
  color: $box-text;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.wish-list .wish.heart.icon{
  position: relative;
  top:-5px !important;
  left: 10px;
}

.wish-list .button-option {
  height: 30px; 
  min-width: 10px; 
  width: 100%; 
  margin-bottom: 1px;
}

.wish-list .button-option:hover {
  cursor: pointer;
}
// ----------------New GRID SYSTEM DESIGN------------------------------
.box1 {
  height: auto;
  min-height: 600px;
  min-width: 10px;
  width:25%;
  float: left;
  position:relative;
  padding-right: 5px;
}

.box2 {
 position:relative;
 height: 100%;
 min-height: 630px;
 min-width: 10px;
 width:75%;
 float: left;
 padding:15px;
 overflow: hidden !important;
}

#background-container-search {
  background-color: $settling-grey;
  width: 100%;
  height: auto;
  position:absolute;
}

.result-box-list {
  width: 50% !important;
  padding:10px;
  float:left;
}
// ----------------New GRID SYSTEM DESIGN------------------------------

.wish-list .column{
  width: 33% !important;
  display: inline-block;
  float: left;
  padding-top: 10px;
}

.wish1 {
  top: 110px;
}

.wish2 {
  top: 170px;
}

.wish3 {
  top: 232px;
}

.blue.button {
  background-color: $blue !important;
}

.blue.button:hover {
  background-color: #156faa !important;
}

.search-options-box {
  padding:0px !important;
  border: 1px solid transparent;
}

.wishes-options {
  min-height: 700px;
  height: 100%; 
  min-width:10px; 
  width:100%; 
  background-color: $box-grey;
  position: fixed;
  max-width: 320px;
  // border-right: 1px solid $border-color; 
  // box-shadow: 1px 1px 15px 0px $box-shadow-color;
  text-align: center;
  color: $box-text;
  font-family: 'Lato', sans-serif;
}

#spinner2 {
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:323px;
  width: 100%;
  height: 100%;
  background-color:white; 
  z-index:100; 
  overflow: hidden; 
  display:none;
  opacity:0.7;
}

@media(min-width: 1700px)
{
  .wishes-options {
    max-width: 420px !important;
  }

  #spinner2 {
    left: 423px;
  }

  .wishes-options .wish-title{
    font-size: 20px !important;
  }

  .wishes-options .title-bar {
    height: 35px !important;
  }

  .wishes-options .heart {
    left: 80px !important;
    top: 22px !important;
  }

  .wishes-options .sixteen.wide.column {
    min-height: 80px !important;
  }
}

.wishes-options table {
  text-align: center !important;
}

.wishes-options td {
  padding: 0px !important;
  font-size: 13px; 
  color: $box-text;
  outline: none;
  height: 20px !important;
}


.wishes-options .heart {
  background-image: url('../../images/heart.svg');
  background-size: cover;
  height: 20px;
  width: 25px;
  position:relative;
  top: 15px;
  left: 60px;
}

.wishes-options .wish-title {
  font-size: 15px;
}

.search-filter-options {
  width: 100%; 
  min-height: 10px; 
  height: 100%; 
  background-color:$green;
  margin-top: 10px;
  color: $blue;
}

.search-filter-options .ui.basic.buttons {
  border-color: $blue !important;
  border-radius: 0px !important;
}

.search-filter-options .button {
  height: 30px !important;
  font-family: 'Lato', sans-serif;
  font-weight: 300 !important;
  font-size: 13px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  border-color: transparent !important;
}

.search-filter-options .ui.basic.buttons .button {
  color: white !important;
  background-color: #414141 !important;
  border-radius: 0px !important;
  font-weight: 400 !important;
}

.search-filter-options .ui.basic.buttons .active.button {
  background-color: $blue !important;
  color: white !important;
} 

.search-filter-options .dropdown {
  border: 0px none transparent !important;
  padding-bottom: 10px !important;
  margin:0px !important;
  color: white;
  min-height: 30px !important;
  background-color: #414141 !important; 
}

.search-filter-options .table {
  margin-top: 5px !important;
  background-color: $green;
}

.search-filter-options table {
  border: 0px none transparent !important;
}

.search-filter-options .text {
  color: white !important;
  font-size: 17px !important; 
}


.search-filter-options .dropdown.icon {
  border: 0px none transparent !important;
  top: 0px !important;
}

.search-filter-options #min, .search-filter-options #max {
  outline: none;
  border: 0px none transparent;
  width: 90px;
  font-size: 18px;
  background-color: #414141;
  color:white;
  height:30px;
}

.search-filter-options #min {
  border-right: 1px solid $border-color;
}

.wishes-options .heart h5 {
  color:white;
  position: relative;
  top: 3px;
}

.wishes-options p {
  position: relative;
  margin:0px;
  color: #939dac;
}

.wishes-options .sixteen.wide.column {
  padding: 0px !important;
  height: 60px !important;
}

.wishes-options .button_popup {
  width: 200px !important;
  background-color:  transparent;
}


// --------Search Filter----------------
.search-filter-options .wish-title {
  margin-bottom: 10px !important;
  padding-top: 2px;
  color: white;
}

.search-filter-options .title-bar {
  height: 25px;
  background-color: $blue;
}
// ------------------------------



.angular-google-map-container { height: 200px; }

.search-result-box {
  min-height: 171px;
  height: auto; 
  min-width: 10px; 
  width: 100%; 
  // border:1px solid $border-color; 
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px $box-shadow-color;
  font-family: 'Lato', sans-serif;
  color: $box-text;
  background-color: white;
}

.result-image {
  background-color: $box-grey; 
  height:170px;
  width: 40%; 
  border-radius: 5px 0px 0px 5px;
  float:left;
}

.result-info {
  min-width: 10px; 
  height: 130px; 
  width: 60%;
  float:left;
}

.result-info i {
  float: right;
  margin-top:4px;
  color: $box-text;
}
.result-info h5 {
  margin: 10px;
  font-size: 20px;
  font-weight: lighter !important;
  display: inline-block;
  margin-bottom: 4px !important;
  margin-top: 3px !important;
}

.basic-info {
  height: 25px; 
  width: 100%; 
  background-color: $box-grey;
}


.basic-info p {
  padding: 3px;
}

.basic-info-grid {
  height: 100%; 
  width: 70%; 
}

.basic-info-grid .column {
  padding-top: 2px !important;
  padding-bottom: 0px !important;
  box-shadow:none;
}

.basic-info-grid .column.middle {
  border-left: 2px solid white !important;
  border-right: 2px solid white !important;
}

.basic-info-grid .column p {
  position:relative;
  top: -2px;
  display:inline;
}

.basic-info-grid .column span {
  font-size:70%;
  position:relative;
  top: -2px;
}

.result-wishes-title {
  height:20px; 
  width:100px; 
  background-color: $green; 
  margin-top: 10px;
  border-radius: 0px 3px 3px 0px;
}

.result-wishes-title p {
  position: relative;
  left: 3px;
}

.wishes-list-results {
  float:left; 
  min-width:10px; 
  width:60%;
}

.wishes-list-results ul{
  list-style: none;
  margin-bottom: 0px;
  padding-left: 5px;
  font-size:95%;
  font-weight: lighter;
}

.agent-info-results {
  float:left; 
  min-width:10px; width:40%;
}

.column.agent{
  float:right !important;
}

.wishes i {
  float: none;
}

.wishes .agent-info-results {
  text-align: center;
}

.agent-profile-container {
  position:relative; 
  top: -50px;
}

.agent-profile-container .ui.blue.button {
  font-size: 70% !important;
  background-color: #17bb5d !important;
}

.agent-profile-container h5 {
  font-size: 80% !important;
}

@media(min-width: 1477px)
{
  .agent-profile-container {
    max-width: 240px !important;
  }
}

@media(min-width: 2300px)
{
  .eight.wide.column.masonry-brick {
    width: 33.33% !important;
  }
}

.agent-profile-container h5{
  font-weight: normal !important;
  margin-left: 15px;
  font-size: 15px;
}

.agent-profile-container button{
  margin-left: 12px !important;
  font-size: 13px !important;
}
.wishes .agent-picture {
  // background-color:$box-text; 
  height:40px; 
  width: 40px; 
  margin:0 auto; 
  border-radius: 50px;
}

.popup-info {
  display: inline-block;
  float: right;
}

.popup-info:hover {
  cursor: pointer;
}

.more-info-box {
  // height: 170px; 
  // width: 100%; 
  // display:none; 
  // margin-top: 45px; 
  // border-radius: 0px 0px 3px 3px;

  height: 170px;
  width: 100%; 
  clear: both;
  display:none;
}

.more-info-box  .map {
  min-height: 10px; 
  min-width: 10px; 
  height:100%; 
  width: 40%; 
  background-color: $box-grey;
  float:left;
}

.amenities-title {
  width: 70px; 
  height: 20px; 
  background-color: $box-grey;
  border-radius: 0px 3px 3px 0px;
}

.amenities-title p {
  color: $box-text;
  margin-top: 3px;
  margin-left: 3px;
}

.amenities-list {
  margin-top: 10px;
}

.amenities-list ul {
  padding: 0px !important;
  margin-left: 10px;
}

.amenities-list li {
  font-size: 87%;
}

.unmatched {
  color: $red;
}
.unmatched i {
  color: $red !important;
  cursor: default !important;
}
/* -------------------------
  Round progress
------------------------- */
.round-progress-container {
  height:70px; 
  width:70px; 
  border-radius: 50px; 
  position: relative; 
  left:-20px; 
  top:-20px; 
  border:5px solid $settling-grey; 
  background-color:$box-grey;
}

.round-progress-status {
  position:relative; 
  top:20px; 
  text-align:center; 
  color: #777777;
}

.round-progress-circle {
  position:relative; 
  top: -20px;
}
/* ---------------------------
    Helpers for Slick
----------------------------*/
/* line 5, ../sass/_helpers.scss */

.ui.grid {
  margin:0px;
}

.wishes-popup {
  width: 400px !important;
}

.wish.heart.icon {
  color: $blue;
  font-size: 25px;
  float:left;
  position: relative;
  top: 18px;
  z-index: 100;
  background-image: none;
}

.wishes-popup-search .wish.heart {
  position:relative;
  left: -10px;
}

.wishSelected{
  color: $blue !important;
}

.wish.heart span {
  color: white;
  font-family: 'Lato', sans-serif;
  position: relative;
  font-size: 13px;
  left: -16px;
  top: -4px;
  font-weight: bold;
}

.wishes-popup .column .button{
  font-size: 15px;
  margin-bottom: 1px;
  border-radius: 0px;
  background-color: white;
  font-weight: lighter;
}

.wishes-popup-search .column .button{
  font-size: 13px;
  margin-bottom: 1px;
  border-radius: 0px;
  background-color: white;
  font-weight: lighter;
}

.wishes-popup-search .column .button:hover{
  color:$blue;
}


.wishes-popup .column .button:hover {
  color: $blue;
}

.input-box .wide {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
}



.top.center {
  position:absolute;
  left: -60px !important;
}

.destination-container .ui.search.dropdown .menu {
  max-height: 300px !important;
}

.min.budget {
  border-right: 1px solid #bdbdbd !important;
}

.dollar.icon {
  font-size: 15px;
  position: relative;
  top: 7px;
  left: -3px;
  color: #666;
}

.input-box .two.wide {
  background-color: #d1d1d1;
  height: 36px;
  border-radius: 3px 0px 0px 3px;
}



.button_popup {
  border: 0px none transparent;
  border-bottom: 1px solid $border-color;
  outline: none;
  font-family: 'Lato', sans-serif;
}

.invalid {
  background-color: $error !important;
}

.invalid .two.wide {
  background-color:#cd3f3f !important;
  color: white !important;
}

.invalid i {
  color: white !important;
}

.input-box {
  height: 37px;
  width: 100%;
  background-color:#e0e1e2;
  border-radius: 3px;
}
.input-box .min, .input-box .max {
  width:25%;
}

.rooms .ui.button{
  padding: 0px;
  font-size: 13px !important;
}

@media(min-width: 1310px)
{
  .rooms .ui.button{
    padding: 12px !important;
  }
}

.rooms {
  width: 100%;
  height: 100%;
}

.bedrooms-container .ui.basic.buttons {
  height: 37px !important;
}


.ui.blue.progress .bar {
  height: 100%;
  background-color: $blue;
}




// // importing other styles
@import "agent-profile.scss";
@import "header.scss";
@import "home.scss";
@import "property.scss";